.badge-item {
  cursor: grab;
  user-select: none;
}
.badge-item:active {
  cursor: grabbing;
  opacity: 0.6;
}
.min-vh-25 {
  min-height: 150px;
}
.btn-deleteAcc {
  /* background: linear-gradient(90deg, ); */
  background-color: rgba(248, 196, 113, 0.7);
  background-size: 200% 100%;
  background-position: left center;
  color: white;
  transition: 0.5s ease-in-out, color 0.3s ease-in-out;
}

.btn-deleteAcc:hover {
  background-position: right center;
  background-color: rgba(248, 196, 113, 1);

  color: white;
}
#profile_setting,
#public_profile {
  transition: transform 0.5s ease, opacity 0.4s ease;
  opacity: 0;
  transform: translateX(100%);
  display: none;
}

#profile_setting.show,
#public_profile.show {
  opacity: 1;
  transform: translateX(0);
  display: block;
}
